<p/>
<div class="alert alert-block">
	        <a class="close">×</a>
	        <h4 class="alert-heading">Item desabilitado</h4>
	        <p>No momento este recurso está desabilitado</p>
</div>

<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>